/*
## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)
*/
body{
    background-color: hsl(30, 38%, 92%) ;
    padding: 200px;
}
main{
    background-color: white;
    max-width: 1440px;
    min-width: 375px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    
}